<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hotel 是一套基于 Django 构建的开房平台,具有易用的界面和体验">
    <meta name="keywords" content="连锁酒店,昊神">
    <meta name="author" content="昊神">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta property="wb:webmaster" content="b91f5797992481ee">

    <title>昊神连锁酒店管理系统 </title>

    <link href="./assets/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/main.min.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-precomposed.png">
    <link rel="icon" href="./assets/ico/favicon.ico">

    <script>
      var _hmt = _hmt || [];
    </script>

<style id="style-1-cropbar-clipper">/* Copyright kira */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>
<body class="home-template custom-bg" style="background-image: url(./assets/pic/hotel6.jpg)">

    <nav class="navbar navbar-ghost" role="navigation">
    	<div class="container-fluid">
    
    		<!-- Brand and toggle get grouped for better mobile display -->
    	    <div class="navbar-header">
    	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-navbar">
    	        <span class="sr-only">Toggle navigation</span>
    	        <span class="icon-bar"></span>
    	        <span class="icon-bar"></span>
    	        <span class="icon-bar"></span>
    	      </button>
    	      <a class="navbar-brand" href="#"><img width="50" src="./assets/ico/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="logo"></a>
    	    </div>
    
    	    <!-- Collect the nav links, forms, and other content for toggling -->
    	    <div class="collapse navbar-collapse" id="global-navbar">
    	    	<ul class="nav navbar-nav">
    	    		<li><a href="#">首页</a></li>
    	    		<li><a href="#">显示房间</a></li>
    	    		<li><a href="#">添加房间</a></li>
    		        <li><a href="#">注册</a></li>
    		        <li><a href="#">登录</a></li>
    		        <li><a href="#">关于</a></li>
    			</ul>
    			<p class="navbar-text qq">用户名</p>
    	    </div>
    
    
    
    	</div>
    </nav>

    
<header id="logo" class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-push-2">
		    <h1 class="blog-title">
		    	<a href="#">God Hao Hotel</a>
		    </h1>
		    <h2 class="blog-desc">
		    	<a href="#">The God Hao Hotel  allows you to share your story with the world.</a>
		    </h2>
		    <div class="social">
			    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
			    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
		    </div>
		</div>
    </div>
</header>

<main class="container" role="main">
    <div class="row">
        <div class="col-sm-8 col-sm-push-1">

            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <h2 class="post-title">
                        <a href="#">页面内容放置处</a>
                    </h2>
                </header>
                
                <section class="panel-footer post-meta">
                    <div class="post-tags">
                            <i class="fa fa-tags"></i>
                            <a href="#">Ghost</a>
                            <p>写点文字内容或者放置表单</p>
                    </div>
                </section>
            </article>

            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <h2 class="post-title">
                        <a href="#">Form2表单2放置处</a>
                    </h2>
                </header>
                
                <section class="panel-footer post-meta">
                    <div class="post-tags">
                            <i class="fa fa-tags"></i>
                            <a href="#">Hao</a>
                    </div>
                </section>
            </article>

        </div>
        <div class="col-sm-2 col-sm-push-1">
            <div class="list-group tag-sidebar">
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选菜单1</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选菜单2</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选3</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选4</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选5</a>

            </div>
            <div class="list-group ad-sidebar">
                <a href="#" target="_blank" class="list-group-item text-hide">测试菜单1</a>
            </div>        
        </div>
    </div>


</main>

    <footer class="container">
    	<div class="row">
    
    	    <div class="col-xs-12" id="social-icons">
    		    <a class="icon-gplus" href="http://weibo.com/u/2315359802" target="_blank"><i class="fa fa-weibo fa-2x"></i>新浪微博</a>
    		</div>
    
    	    <div class="col-xs-12" id="copyrights">
    	         <section class="copyright">All content copyright <a href="#" target="_blank">Hotel酒店</a> © 2014 • All rights reserved.</section>
    	         <section class="poweredby">Proudly published with <a href="#" target="_blank">Hotel</a></section>

    	    </div>
        </div>
    </footer>

    <script src="./assets/jquery.min.js"></script>
    <script src="./assets/bootstrap.min.js"></script>
    <link href="./assets/monokai.min.css" rel="stylesheet">
    <script src="./assets/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="./assets/index.js"></script>


</body>
</html>