<html>
{% include "head.html" %}

<body class="home-template custom-bg" style="background-image: url(/static/assets/pic/bg.jpg)">

{% include "navbar.html" %}

<main class="container" role="main">
    <div class="row">
        <div class="col-sm-8 col-sm-push-1">
            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <table class='table table-striped'>
                        <tr>
                            <td>用户</td>
                            <td>时间</td>
                            <td>内容</td>
                        </tr>
                        {% for c in comments %}
                        <tr>
                            <td>{{c.customer.name}}</td>
                            <td>{{c.comment_time | date:"Y-m-d H:i:s"}}</td>
                            <td>{{c.content}}</td>
                        <tr>
                        {% endfor %}
                    </table>
                </header>                
            </article>

            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <form action="{% url 'common.comment.views.add' hotel.hotel_id%}" method="POST">
                        {% csrf_token %}    
                        <textarea class="form-control" name="comment" placeholder="评论"></textarea>
                        <input type="submit" class="btn btn-primary" value="提交" />
                    </form>
                </header>
                
            </article>


        </div>
        <div class="col-sm-2 col-sm-push-1">
            <div class="list-group tag-sidebar">
                <a href="/" class="list-group-item"><i class="fa fa-tag"></i> 首页</a>
                <a href="{% url 'common.hotel.views.list' %}" class="list-group-item"><i class="fa fa-tag"></i> 酒店</a>
                <a href="{% url 'common.order.views.list' %}" class="list-group-item"><i class="fa fa-tag"></i> 订单</a>
                <a href="{% url 'common.customer.views.login' %}" class="list-group-item"><i class="fa fa-tag"></i> 登录</a>
                <a href="{% url 'common.customer.views.register' %}" class="list-group-item"><i class="fa fa-tag"></i> 注册</a>

            </div>
        
        </div>
    </div>


</main>

    {% include "footer.html" %}

</body>
</html>
