<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hotel 是一套基于 Django 构建的开房平台,具有易用的界面和体验">
    <meta name="keywords" content="连锁酒店,昊神">
    <meta name="author" content="昊神">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta property="wb:webmaster" content="b91f5797992481ee">

    <title>昊神连锁酒店管理系统 </title>

    <link href="/static/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/main.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/static/assets/ico/favicon.ico">

    <script>
      var _hmt = _hmt || [];
    </script>

<style id="style-1-cropbar-clipper">/* Copyright kira */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>