<html>
<body>
    <a href='/hotel/add/'> 添加Hotel </a> <br />
    <a href='/hotel/list/'> 显示所有Hotel </a> <br />
    <a href='/room/add/'> 添加Room </a> <br />
    <a href='/room/list/'> 所有Room </a> <br />
    <a href='/customer/register/'> 注册</a> <br />
    <a href='/login/'>登录</a> <br />
    <a href='/logout/'>登出</a> <br />
    {{ request.session.user}}
    <form action='/room/search/' method='POST'>
        {% csrf_token %}    
    <table>
    {{ form }}
    <tr>
        <td>
            <input type='submit' value='search'/>
        </td>
    </tr>
    </table>
    </form>
    <table>

        {% for room in rooms %}
        <tr>
            <td>{{ room.is_free }}</td>            
            <td>{{ room.room_id }}</td>
            <td>{{ room.hotel }}</td>
            <td>{{ room.room_type }}</td>
            <td><a href="{% url 'common.order.views.new' room.room_id begin end%}"> 预定 </a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>