<html>
{% include "head.html" %}

<body class="home-template custom-bg" style="background-image:url(/static/assets/pic/bg.jpg)">

{% include "navbar.html" %}
    
<header id="logo" class="container">
    <!--
    <div class="row">
        <div class="col-lg-8 col-lg-push-2">
            <h1 class="blog-title">
                <a href="#">God Hao Hotel</a>

            </h1>
            <h2 class="blog-desc">
                <a href="#">The God Hao Hotel  allows you to share your story with the world.</a>
            </h2>
            <div class="social">
                <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
            </div>
        </div>
    </div>
    -->
    <div class="banner">
    <ul>
        <li style="background-image: url(/static/assets/pic/hotel2.jpg);background-size: 100% 100%"> 
            <div class="inner">
                 <div class="col-lg-8 col-lg-push-2">
                 <br/><br/><br/>
                    <h1>
                     <a href="#">God Hao Hotel</a>
                    </h1>
                <h2>The God Hao Hotel  allows you to share your story with the world.
                </h2>
                <div class="social">
                    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
                </div>
                </div>
            </div>
        </li>

        <li style="background-image: url(/static/assets/pic/hotel12.jpg);background-size: 100% 100%;">
            <div class="inner">
                 <div class="col-lg-8 col-lg-push-2">
                 <br/><br/><br/>
                    <h1>
                     <a href="#">God Hao Hotel</a>
                    </h1>
                <h2>The God Hao Hotel  allows you to share your story with the world.
                </h2>
                <div class="social">
                    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
                </div>
                </div>
            </div>
        </li>

        <li style="background-image: url(/static/assets/pic/hotel11.jpg);background-size: 100% 100%;">
            <div class="inner">
                 <div class="col-lg-8 col-lg-push-2">
                 <br/><br/><br/>
                    <h1>
                     <a href="#">God Hao Hotel</a>
                    </h1>
                <h2>The God Hao Hotel  allows you to share your story with the world.
                </h2>
                <div class="social">
                    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
                </div>
                </div>
            </div>
        </li>
    </ul>
    <ol class="dots"><li class="dot active">1</li><li class="dot">2</li><li class="dot">3</li></ol>

    </div>
</header>



<main class="container" name role="main">
    <a id="content"> </a>
    <div class="row">
        <div class="col-sm-8 col-sm-push-1">

            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <h2 class="post-title">
                        <a href="#">房间查询</a>
                    </h2>
                </header>
               
                <section class="panel-footer post-meta">
                    <div class="post-tags">
                        <form action='{% url 'common.room.views.search'%}#content' method='POST'>
                            {% csrf_token %}    
                            <table class='table'>
                            {{ form }}
                            <tr>
                                <td>
                                </td>
                                <td colspan='1'>
                                    <input type='submit' class='btn btn-primary' value='查找'/>
                                </td>
                            </tr>
                            </table>
                        </form>
                        <table class="table">
                            {% if rooms %}
                            <tr>                            
                                <th>酒店名称</th>
                                <th>房间类型</th>
                                <th>基本价格</th>
                                <th> </th>
                            </tr>
                            {% endif %}
                            {% for room in rooms %}
                            <tr>
                                <td>{{ room.hotel }}</td>
                                <td>{{ room.room_type }}</td>
                                <td>{{ room.basic_price }}</td>
                                <td><a href="{% url 'common.order.views.new' room.room_id begin end%}"> 预定 </a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>                   
                </section>
               
            </article>
            <!---
            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <h2 class="post-title">
                        <a href="#">Form2表单2放置处</a>
                    </h2>
                </header>
                
                <section class="panel-footer post-meta">
                    <div class="post-tags">
                            <i class="fa fa-tags"></i>
                            <a href="#">Hao</a>
                    </div>
                </section>
            </article>
            -->
        </div>
        <div class="col-sm-2 col-sm-push-1">
            <div class="list-group tag-sidebar">
                <a href="/" class="list-group-item"><i class="fa fa-tag"></i> 首页</a>
                <a href="{% url 'common.hotel.views.list' %}" class="list-group-item"><i class="fa fa-tag"></i> 酒店</a>
                <a href="{% url 'common.order.views.list' %}" class="list-group-item"><i class="fa fa-tag"></i> 订单</a>
                <a href="{% url 'common.customer.views.login' %}" class="list-group-item"><i class="fa fa-tag"></i> 登录</a>
                <a href="{% url 'common.customer.views.register' %}" class="list-group-item"><i class="fa fa-tag"></i> 注册</a>

            </div>
        
        </div>
    </div>
</main>
    
    {% include "footer.html" %}

</body>
</html>
