<nav class="navbar navbar-ghost" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img width="50" src="/static/assets/ico/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="global-navbar">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'common.hotel.views.list' %}">酒店</a></li>
                {% if request.session.user %}
                <li><a href="{% url 'common.order.views.list' %}">订单</a></li>
                {% endif %}
                {% if request.session.is_admin %}
                <li><a href="{%url 'common.room.views.add' %}">添加房间</a></li>
                {% endif %}
                <li><a href="#">关于</a></li>
            </ul>
            <p class="navbar-text qq">  {% if request.session.user %}<a href='/customer/profile'> {{request.session.user }}</a> / <a href="/logout">注销</a>
                {% else %}
                <a href="{% url 'common.customer.views.login' %}">登录</a>/
                <a href="{% url 'common.customer.views.register' %}">注册</a>
                {% endif %}
</p>
        </div>



    </div>
</nav>