<html>
{% include "head.html" %}

<body class="home-template custom-bg" style="background-image:url(/static/assets/pic/bg.jpg)">

{% include "navbar.html" %}
    
<header id="logo" class="container">
    <!--
    <div class="row">
        <div class="col-lg-8 col-lg-push-2">
            <h1 class="blog-title">
                <a href="#">God Hao Hotel</a>

            </h1>
            <h2 class="blog-desc">
                <a href="#">The God Hao Hotel  allows you to share your story with the world.</a>
            </h2>
            <div class="social">
                <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
            </div>
        </div>
    </div>
    -->
    <div class="banner">
    <ul>
        <li style="background-image: url(/static/assets/pic/hotel2.jpg);background-size: 100% 100%"> 
            <div class="inner">
                 <div class="col-lg-8 col-lg-push-2">
                 <br/><br/><br/>
                    <h1>
                     <a href="#">God Hao Hotel</a>
                    </h1>
                <h2>The God Hao Hotel  allows you to share your story with the world.
                </h2>
                <div class="social">
                    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
                </div>
                </div>
            </div>
        </li>

        <li style="background-image: url(/static/assets/pic/hotel12.jpg);background-size: 100% 100%;">
            <div class="inner">
                 <div class="col-lg-8 col-lg-push-2">
                 <br/><br/><br/>
                    <h1>
                     <a href="#">God Hao Hotel</a>
                    </h1>
                <h2>The God Hao Hotel  allows you to share your story with the world.
                </h2>
                <div class="social">
                    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
                </div>
                </div>
            </div>
        </li>

        <li style="background-image: url(/static/assets/pic/hotel11.jpg);background-size: 100% 100%;">
            <div class="inner">
                 <div class="col-lg-8 col-lg-push-2">
                 <br/><br/><br/>
                    <h1>
                     <a href="#">God Hao Hotel</a>
                    </h1>
                <h2>The God Hao Hotel  allows you to share your story with the world.
                </h2>
                <div class="social">
                    <a href="http://weibo.com/u/2315359802" class="btn btn-outline btn-lg" title="官方微博" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a>
                    <a class="btn btn-outline btn-lg" href="#" title="联系我们" target="_blank"><i class="fa fa-comments"></i> 联系我们</a>
                </div>
                </div>
            </div>
        </li>
    </ul>
    <ol class="dots"><li class="dot active">1</li><li class="dot">2</li><li class="dot">3</li></ol>

    </div>
</header>



<main class="container" name role="main">
    <a id="content"> </a>
    <div class="row">
        <div class="col-sm-8 col-sm-push-1">

            <article class="panel post tag-ghost-post tag-xin-ban-ben-fa-bu" data-scroll-reveal="enter bottom"> 
                <header class="panel-heading post-header">
                    <table class='table'>
                        <tr>
                            <td>订单编号</td>
                            <td>{{order.order_id}}</td>
                        </tr>
                        <tr>
                            <td>酒店名称</td>
                            <td>{{order.room.hotel}}</td>
                        </tr>
                        <tr>
                            <td>生成时间</td>
                            <td>{{order.order_time}}</td>
                        </tr>
                        <tr>
                            <td>订单价格</td>
                            <td>{{order.price}}</td>
                        </tr>
                        <tr>
                            <td>入住日期</td>
                            <td>{{order.check_in}}</td>
                        </tr>
                        <tr>
                            <td>离店日期</td>
                            <td>{{order.check_out}}</td>
                        </tr>
                    </table>  
                </header>          
            </article>
        </div>
        <div class="col-sm-2 col-sm-push-1">
            <div class="list-group tag-sidebar">
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选菜单1</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选菜单2</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选3</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选4</a>
                <a href="#" class="list-group-item"><i class="fa fa-tag"></i> 可选5</a>

            </div>
            <div class="list-group ad-sidebar">
                <a href="#" target="_blank" class="list-group-item text-hide">测试菜单1</a>
            </div>        
        </div>
    </div>
</main>
    
    {% include "footer.html" %}

</body>
</html>